@tailwind base;
@tailwind components;
@tailwind utilities;

.card-rotate {
  transition: transform 0.5s;
  transform: rotateX(180deg) !important;
}

.card-rotate-revert {
  transition: transform 0.5s;
  transform-style: preserve-3d !important;
}

.text-flip {
  transform: rotateX(180deg);
}
